* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
}
.header{
    background-color: #2d132c;
    color: white;
}
.contLogo{
    margin: 0px 20px;
}
.contLogo img{
    width: 80px;
}

.botones{
    display: flex;
}

main{
    margin-top: 4.2%;
}


.banner{
    background-image: url(../img/comida-saludable.jpg);    
    background-size: cover;    
}

.banner p{
    color: #E4F3FC;
}

h1{
    font-family: 'Monoton', cursive;    
    color: rgb(238, 96, 64);
}

.contenido{
    background-color: #801336;
    padding-top: 30px;
}

.contenedorTitulo{
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;    
}

.imgCard{
    height: 17rem;
    width: 100%;
}

.conTextCard{
    /* background-color: rgb(238, 96, 64, .5); */
    background-color: rgb(199, 44, 65, .3);
}

footer{
    background-color: #2d132c;
    color: white;
    text-align: center;
    padding: 5px 100px;
    font-size: 20px;
}

.algo{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}



