* {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color:#ee4540;
    color:black;
    text-align: center;
    padding: 20px 250px;
    font-size: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}