<div class="banner1">
    <h1>RevoluxionGym</h1>
  </div>

  <div class="gym-services">
    <h2>Beneficios</h2>
  

  <div class="card-group">
    <div class="card">
      <img src="./assets/img/healthy-food.jpg" class="card-img-top" alt="Healthy Food">
      <div class="card-body">
        <h5 class="card-title">Nutrición personalizada</h5>
        <p class="card-text">Podrás acceder a nutricionistas expertos que crearán una dieta personalizada de acuerdo a tus necesidades.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/gym-class.jpg" class="card-img-top" alt="Gym class">
      <div class="card-body">
        <h5 class="card-title">Clases grupales</h5>
        <p class="card-text">Tendrás acceso a diferentes tipos de clases según tus gustos.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/gym.jpg" class="card-img-top" alt="Gym">
      <div class="card-body">
        <h5 class="card-title">Rutina personalizada</h5>
        <p class="card-text">Los mejores entrenadores para ti, diseñarán una rutina acorde a tus intereses. </p>
      </div>
    </div>
  </div>
</div>

<div class="gym-planes">
  <h2>Planes</h2>

  <div class="container">
    <div class="card" style="width: 20rem">
      <img
        src="./assets/img/planRevolution.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p>Entrena en cualquiera de nuestras sedes en Colombia</p>
        <h5 class="card-title">BENEFICIOS INCLUIDOS</h5>
        <p class="card-text">Área de peso libre</p>
        <p class="card-text">Área de cardio</p>
        <p class="card-text">Camerinos</p>
        <p class="card-text">Duchas</p>
        <p class="card-text">Lockers</p>
        <p class="card-text">Sillones de masaje</p>
        <p class="card-text">Invitar hasta 5 amigos al mes</p>
        <a href="#" class="btn btn-lg"><b>Comprar</b></a>
      </div>
    </div>

    <div class="card" style="width: 20rem">
      <img
        src="./assets/img/planStandard.png"
        class="card-img-top hei"
        alt="..."
      />
      <div class="card-body">
        <p>Acceso ilimitado a tu sede <br /><br /></p>
        <h5 class="card-title">BENEFICIOS INCLUIDOS</h5>
        <p class="card-text">Área de peso libre</p>
        <p class="card-text">Área de cardio</p>
        <p class="card-text">Camerinos</p>
        <p class="card-text">Duchas</p>
        <p class="card-text">Lockers <br /><br /><br /><br /><br /></p>

        <a href="#" class="btn btn-lg"><b>Comprar</b> </a>
      </div>
    </div>
  </div>
</div>

<div class="gym-services">
  <h2>Contáctanos</h2>
  <p>Estamos ubicados en XXXX</p>
  <p>Comunícate al mail mail@mail.com</p>
  <p>O llámanos al XXX-XXX-XXX</p>
</div>