
.banner1{
    display: flex;
    margin-top: 88px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../../../assets/img/bground.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    font-family: 'Monoton', cursive;
    color: #c72c41;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 2rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
    background-color: #2d132c;
    color: white;
    line-height: 1;
}

.card-body h5{
    margin: 1.5rem;
}
.card .btn {
    background-color: #ee4540;
    color: #2d132c;
    margin-top: 0.5rem;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.gym-services, .gym-planes {
    background-color: white;
    margin: 0 auto;
    padding: 40px;
}
.gym-services h2, .gym-planes h2 {
    font-size: 40px;
}
